weather-forecast {
    width: 800px;
    margin: 0 auto;
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

 .icon-sun {
        background-image:white; /* Replace with your icon path */
        background-size: contain;
        background-repeat: no-repeat;
        width: 100px; /* Adjust width as needed */
        height: 20px; /* Adjust height as needed */
        display: inline-block; /* For better control */
}
    
  }
  
  .header {
    background-color: #007bff;
    color: white; 
    padding: 20px;
    text-align: center;
  }
  
  .days {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color:"https://cdn2.hubspot.net/hubfs/2936356/maxresdefault.jpg";
   
  }
  
  .day {
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    background-image:white;
  }


  h3 {
      text-align: center;
      padding: 10px;
      background-color:;
      border-radius: 5px;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
      background-image:white;
  }
  
  .day img {
    width: 120px;
    height: 50px;
    margin-bottom: 10px;
    display: flex;
  justify-content: space-around;
  padding: 20px;
  background-image:white;

  }
  
  .day p {
    width: 120px;
    margin: 5px 0;
    background-image:white;

  }

  .footer {
    background-color: #007bff;
    color: white;
    padding: 10px;
    text-align: right;
  }